body {
    margin: 0px;}

* {
    font-family: "Albert Sans", sans-serif;
}

img {
    border-radius: 10px;
}

.content a {
    border-radius: 10px;
}

.content hr {
    width: 93%;
    border: none;
    height: 1px;
    background-color: #b4b4b4;
    margin-top: -3px;
    margin-bottom: 0px;
}

.row {
    width: 100%;
    display: flex;
}

.quarter {
    width:25%;
    display: block;
    text-align:center;
}

.threequarter {
    width: 75%;
    display:block;
    text-decoration: none;
    color: #004c4c;
    font-weight: 600;
    padding-top: 12px;
    font-size: 18px;
}

.third {
    width: 33%;
    min-width: 33%;
    display: block;
    text-align: center; 
}

.twothird {
    width: 66%;
    display: block;

}

.half {
    width: 50%;
    min-width: 50%;
    display: block; 
    text-align: center;
    text-decoration: none;
    color: black;
}
.full {
    width: 100%;
    display: block; 
    text-align: center;
    margin: 0px;
    padding: 10px;
}


.half:hover {
    background-color: #b2d8d8;
}

.half:hover > h3 {
 background-color: #b2d8d8;
}

.half img, .quarter img, .full img, .threequarter img {
 
    max-height:100px;
}

.shoplogo {
    padding:10px;
    max-height: 25px;
    max-width: 25px;
    border-radius: 50px;
}

.content {
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color:#edf3f3;
}

.content h1 {
    font-size: 22px;
    text-align: center;
    background-color: #008080;
    color: white;
    margin-top:-5px;
    margin-left: -0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content h2 {
    font-size: 22px;
    text-align: center;
    background-color: #66b2b2;
    color: white;
    margin-top:-5px;
    margin-left: -0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.content h3 {
    font-size: 18px;
    color: #004c4c;
    font-weight: 700;
    text-align: center;
    margin-top:0px;
    margin-left: -0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.content h4 {
    font-size: 22px;
    
    text-align: center;
    background-color:  	#b2d8d8;
    margin-top:0px;
    margin-left: -0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-under-header {
    border-top-left-radius: 0px; border-top-right-radius: 0px;
}